<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FExcel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FExcel.Properties.Settings>
            <setting name="FirstYear" serializeAs="String">
                <value>2020</value>
            </setting>
            <setting name="Years" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GroupBy" serializeAs="String">
                <value>OG</value>
            </setting>
            <setting name="Параметр" serializeAs="String">
                <value />
            </setting>
        </FExcel.Properties.Settings>
    </userSettings>
</configuration>